# Environment variables
.env
.env.*

# Python virtual environment
env/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

uploads/
__pycache__/
*.pyc
.env